.chat-message-user {
    align-items: start;
    display: flex;
    justify-content: end;
}

.chat-message-robot {
    align-items: start;
    display: flex;
    justify-content: start;
}

.chat-message-profile {
    width: 45px;
}

.chat-message-text {
    background-color: rgb(238 238 238);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    padding: 15px 20px;
}